:root {
     — space: 1.5em 0;
     — space: 2em 0;
}
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  	max-width: 80%;
    min-width: 80%;
    margin: auto;

}
.Site-content {
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;
}
.Site-content:after {
    content: ‘\00a0’;
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
}

.centered {
  text-align: center;
}


.card {
  margin: 10px;
  margin-top: 20px;
}

.App-header {
  margin-bottom: 20px;;
}

.heading {
  margin-top: 10px;
}


.image {
  width: 70%;
  height: auto;
  margin: 10px;
}

.thumb {
  width: 100px;
  height: auto;
  vertical-align: middle;
}

.inline {
  display: inline
}

.middle {
  vertical-align: middle;
}

.float {
  float: right;
}

.searchbar{
  margin-top: 25px;

  margin-right: 10px;
}


.sticky {
    position: sticky;
    top: 0;
    padding: 5px;
}


.title {
  margin: 10px;
  display: inline-block;
  vertical-align:top;
}

.twitter, .facebook, .instagram, .spotify, .soundcloud {
  color: grey;
}

.twitter:hover, .facebook:hover, .instagram:hover, .spotify:hover, .soundcloud:hover {
    transform: scale(1.1);
    transition: transform .2s;


}

.twitter:hover {
  color: #1DA1F2;

}

.facebook:hover {
  color: #3B5998;

}


.instagram:hover {
  color: #e4405f;
}

.spotify:hover {
  color: #1db954;
}

.soundcloud:hover {
  color: #ff8800;
}



.small {
  margin: 0px;
  color: grey;
}

.postBody {
  margin: 10px;
}

.link {
  margin: 5px;
}

.nav {
  margin-top: 30px;
}
.songTitle {
    margin: 10px;
    font-weight: bold;
}

li {
    display: inline;
}

.ui.menu {margin: 0px;}

.react-expand-collapse__content {
  position: relative;
  overflow: hidden;
}

.react-expand-collapse__body {
  display: inline;
}

/* expand-collapse button */
.react-expand-collapse__button {
  color: #22a7f0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.react-expand-collapse__button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, transparent 0, #fff 100%);
}

/* expanded state */
.react-expand-collapse--expanded .react-expand-collapse__button {
  padding-left: 5px;
  position: relative;
  bottom: auto;
  right: auto;
}

.react-expand-collapse--expanded .react-expand-collapse__button:before {
  content: none;
}
