:root {
     — space: 1.5em 0;
     — space: 2em 0;
}
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  	max-width: 80%;
    min-width: 80%;
    margin: auto;
}

.ui.secondary.menu .active.item {
  background: none !important;
}

.memberimage {
  height: 500px;
  width: auto;
}

.Site-content {
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;
}
.Site-content:after {
    content: ‘\00a0’;
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
}

.centered {
  text-align: center;
}


.card {
  margin: 10px;
  margin-top: 20px;
}

.App-header {
  margin-bottom: 20px;;
}

.heading {
  margin-top: 10px;
}


.image {
  width: 60%;
  height: auto;
  margin: 5px
}

.thumbImage {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.0, 1.0);
  transition: .5s ease;
}

.imgContainer:hover .thumbImage {
  opacity: 0.2;
  transform: scale(1.05, 1.05);
  transition: .5s ease;
}

.iframeContainer{
  position: relative;
  min-width: 210px;
  display: block;


}

.imgContainer {

  height: 95%;
  width: auto;
  transform: scale(1.0, 1.0);
  transition: .5s ease;
}

.imgContainer:hover .overlay {
  opacity: .7;
  transform: scale(1.05, 1.05);
  transition: .5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 2vh;
  line-height: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}


@media only screen and (max-width: 992px) {
  .text {
    font-size: 2.5vh;
    line-height: 25px;
  }
}

@media only screen and (max-width: 770px) {
  .text {
    font-size: 4vh;
    line-height: 30px;
  }
}

.float {
  float: right;
}

.searchbar{
  margin-top: 25px;
  margin-right: 10px;
}

.insta {
  width: 65%;
  max-width: 640px;
}

.show {
  clear: both;
}

.sticky {
    position: sticky;
    top: 0;
    padding-top:0px;
}

.showMore {
  margin-top: 10px;
}

.title {

  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline-block;
}

.twitter, .facebook, .instagram, .spotify, .soundcloud {
  color: grey;
}

.twitter:hover, .facebook:hover, .instagram:hover, .spotify:hover, .soundcloud:hover {
    transform: scale(1.1);
    transition: transform .2s;


}

.twitter:hover {
  color: #1DA1F2;

}

.facebook:hover {
  color: #3B5998;

}


.instagram:hover {
  color: #e4405f;
}

.spotify:hover {
  color: #1db954;
}

.soundcloud:hover {
  color: #ff8800;
}



.small {
  margin: 0px;
  color: grey;
}

.postBody {
  margin: 10px;
}

.link {
  margin: 5px;
}

.nav {
  margin-top: 30px;
}
.songTitle {
    margin: 10px;
    font-weight: bold;
}

li {
    display: inline;
}

.ui.menu {margin: 0px;}

.react-expand-collapse__content {
  position: relative;
  overflow: hidden;
}

.react-expand-collapse__body {
  display: inline;
}

/* expand-collapse button */
.react-expand-collapse__button {
  color: #22a7f0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.react-expand-collapse__button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, transparent 0, #fff 100%);
}

/* expanded state */
.react-expand-collapse--expanded .react-expand-collapse__button {
  padding-left: 5px;
  position: relative;
  bottom: auto;
  right: auto;
}

.react-expand-collapse--expanded .react-expand-collapse__button:before {
  content: none;
}
